<template>
  <q-tr :props="props">
    <q-td key="id" :props="props">
      {{ props.row.id }}
    </q-td>

    <q-td key="status" :props="props">
      <q-badge
        outline
        :color="statusColor"
        :label="$t(props.row.status)"
      />
    </q-td>

    <q-td key="sender_name" :props="props">
      {{ props.row.sender_name }}
    </q-td>

    <q-td key="sender_email" :props="props">
      {{ props.row.sender_email }}
    </q-td>

    <q-td key="recipient_name" :props="props">
      {{ props.row.recipient_name }}
    </q-td>

    <q-td key="recipient_phone" :props="props">
      {{ props.row.recipient_phone }}
    </q-td>

    <q-td key="original_amount">
      {{ originalAmount }}
    </q-td>

    <q-td key="converted_amount" :props="props">
      {{ convertedAmount }}
    </q-td>

    <q-td key="converted_amount_with_commission" :props="props">
      {{ convertedAmountWithCommission }}
    </q-td>

    <q-td key="payment_proof" :props="props">
      <q-img
        :src="url"
        spinner-color="white"
      />
    </q-td>

    <q-td key="action" :props="props">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          @click="showRequest"
          flat
          round
          color="info"
          icon="visibility"
        >
          <q-tooltip>
            {{ $t('show-request') }}
          </q-tooltip>
        </q-btn>

        <q-btn
          v-if="isVerifier && !isVerified"
          @click="showVerifyDialog = true"
          flat
          round
          color="positive"
          icon="verified_user"
        >
          <q-tooltip>
            {{ $t('verify') }}
          </q-tooltip>
        </q-btn>

        <q-btn
          v-if="isProcessor && isVerified && !isProcessed"
          @click="showProcessDialog = true"
          flat
          round
          color="positive"
          icon="verified_user"
        >
          <q-tooltip>
            {{ $t('process') }}
          </q-tooltip>
        </q-btn>

        <q-btn
          v-if="!isRejected"
          @click="showRejectDialog = true"
          flat
          round
          color="negative"
          icon="cancel"
        >
          <q-tooltip>
            {{ $t('reject') }}
          </q-tooltip>
        </q-btn>

        <q-dialog v-model="showVerifyDialog">
          <q-card>
            <q-card-section class="bg-positive text-white">
              {{ $t('verify-request') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-verify-request') }}

              <q-input
                class="q-mt-md"
                v-model="verificationDetails"
                filled
                type="textarea"
                :label="$t('verification-details')"
                name="verification_details"
                :error-message="$t('required-field')"
                :error="verificationProofInvalid"
              />

              <q-file
                filled
                v-model="verificationProof"
                :label="$t('provide-proof')"
                accept=".jpg, image/*"
                name="verification_proof"
              >
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-file>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="verifyRequest" color="positive">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <q-dialog v-model="showProcessDialog">
          <q-card>
            <q-card-section class="bg-positive text-white">
              {{ $t('process-request') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-process-request') }}

              <q-input
                class="q-mt-md"
                v-model="processDetails"
                filled
                type="textarea"
                :label="$t('process-details')"
                name="process_details"
                :error-message="$t('required-field')"
                :error="processProofInvalid"
              />

              <q-file
                filled
                v-model="processProof"
                :label="$t('provide-proof')"
                accept=".jpg, image/*"
                name="process_proof"
              >
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-file>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="processRequest" color="positive">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <q-dialog v-model="showRejectDialog">
          <q-card>
            <q-card-section class="bg-negative text-white">
              {{ $t('reject-request') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-reject-request') }}

              <q-input
                class="q-mt-md"
                v-model="rejectReason"
                filled
                type="textarea"
                :label="$t('provide-reason')"
                name="reject_reason"
                :error-message="$t('required-field')"
                :error="rejectReasonInvalid"
              />
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="rejectLoading" @click="rejectRequest" color="negative">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-td>
  </q-tr>
</template>

<script>
export default {
  name: 'RequestTableRow',

  props: ['props'],

  data () {
    return {
      loading: false,
      verificationDetails: '',
      verificationProof: null,
      verificationProofInvalid: false,
      processDetails: '',
      processProof: null,
      processProofInvalid: false,
      rejectLoading: false,
      rejectReason: '',
      rejectReasonInvalid: false,
      showVerifyDialog: false,
      showProcessDialog: false,
      showRejectDialog: false
    }
  },

  computed: {
    authUser () {
      return this.$store.state.auth.user
    },

    sourceLocale () {
      let value = ''

      switch (this.props.row.original_currency) {
        case 'ZAR':
          value = 'af-za'

          break

        default:
          value = 'en-us'

          break
      }

      return value
    },

    targetLocale () {
      let value = ''

      switch (this.props.row.target_currency) {
        case 'ZAR':
          value = 'af-za'

          break

        default:
          value = 'en-us'

          break
      }

      return value
    },

    originalAmount () {
      let formatter = null

      if (this.locale === 'en-us') {
        formatter = new Intl.NumberFormat(this.sourceLocale, {
          style: 'currency',
          currency: this.props.row.original_currency,
          currencyDisplay: 'name'
        })
      } else {
        formatter = new Intl.NumberFormat(this.sourceLocale, {
          style: 'currency',
          currency: this.props.row.original_currency
        })
      }

      return formatter.format(this.props.row.original_amount)
    },

    convertedAmount () {
      let formatter = null

      if (this.locale === 'en-us') {
        formatter = new Intl.NumberFormat(this.targetLocale, {
          style: 'currency',
          currency: this.props.row.target_currency,
          currencyDisplay: 'name'
        })
      } else {
        formatter = new Intl.NumberFormat(this.targetLocale, {
          style: 'currency',
          currency: this.props.row.target_currency
        })
      }

      return formatter.format(this.props.row.converted_amount)
    },

    convertedAmountWithCommission () {
      let formatter = null;

      if (this.locale === 'en-us') {
        formatter = new Intl.NumberFormat(this.targetLocale, {
          style: 'currency',
          currency: this.props.row.target_currency,
          currencyDisplay: 'name'
        })
      } else {
        formatter = new Intl.NumberFormat(this.targetLocale, {
          style: 'currency',
          currency: this.props.row.target_currency
        })
      }

      return formatter.format(this.props.row.converted_amount_with_commission)
    },

    isVerifier () {
      return this.authUser.role === 'verifier'
    },

    isProcessor () {
      return this.authUser.role === 'processor'
    },

    statusColor () {
      let color

      switch(this.props.row.status) {
        case 'verified':
          color = 'info'

          break

        case 'processed':
          color = 'positive'

          break

        case 'rejected':
          color = 'negative'

          break

        default:
          color = 'warning'

          break
      }

      return color
    },

    url () {
      const backUrl = process.env.BACK_URL

      return `${backUrl}/public/storage/${this.props.row.payment_proof}`
    },

    isVerified () {
      return this.props.row.status === 'verified'
    },

    isProcessed () {
      return this.props.row.status === 'processed'
    },

    isRejected () {
      return this.props.row.status === 'rejected'
    }
  },

  methods: {
    showRequest() {
      this.$router.push({ name: 'TransferRequest', params: { id: this.props.row.id }})
    },

    async verifyRequest () {
      if (!this.verificationDetails) {
        this.verificationProofInvalid = true
      } else {
        try {
          this.verificationProofInvalid = false
          this.loading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const headers = {
            Authorization: `Bearer ${localStorage.getItem('baem-token')}`
          }

          const data = { ...this.props.row }

          data.status = 'verified'

          const formData = new FormData()

          formData.append('converted_amount', data.converted_amount)
          formData.append('converted_amount_with_commission', data.converted_amount_with_commission)
          formData.append('original_amount', data.original_amount)
          formData.append('original_currency', data.original_currency)
          formData.append('target_currency', data.target_currency)
          formData.append('payment_proof', data.payment_proof)
          formData.append('recipient_name', data.recipient_name)
          formData.append('recipient_phone', data.recipient_phone)
          formData.append('sender_email', data.sender_email)
          formData.append('sender_name', data.sender_name)
          formData.append('status', data.status)
          formData.append('verification_details', this.verificationDetails)
          formData.append('verification_proof', this.verificationProof)

          await this.$axios.post(`${apiUrl}/transfer-requests/${this.props.row.id}`, formData, { headers })

          this.loading = false
          this.showVerifyDialog = false

          this.$emit('request-verified', this.props.row.id)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('request-verified'),
            position: 'top',
            timeout: 5000
          })
        } catch (error) {
          this.loading = false
          this.error = true
          this.errorMsg = this.getErrorMsgFromResponse(error)

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      }
    },

    async processRequest () {
      if (!this.processDetails) {
        this.processProofInvalid = true
      } else {
        try {
          this.processProofInvalid = false
          this.loading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const data = { ...this.props.row }

          data.status = 'processed'

          const formData = new FormData()

          formData.append('converted_amount', data.converted_amount)
          formData.append('converted_amount_with_commission', data.converted_amount_with_commission)
          formData.append('original_amount', data.original_amount)
          formData.append('original_currency', data.original_currency)
          formData.append('target_currency', data.target_currency)
          formData.append('payment_proof', data.payment_proof)
          formData.append('recipient_name', data.recipient_name)
          formData.append('recipient_phone', data.recipient_phone)
          formData.append('sender_email', data.sender_email)
          formData.append('sender_name', data.sender_name)
          formData.append('status', data.status)
          formData.append('process_details', this.processDetails)
          formData.append('process_proof', this.processProof)

          await this.$axios.post(`${apiUrl}/transfer-requests/${this.props.row.id}`, formData)

          this.loading = false
          this.showProcessDialog = false

          this.$emit('request-processed', this.props.row.id)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('request-processed'),
            position: 'top',
            timeout: 5000
          })
        } catch (error) {
          this.loading = false
          this.error = true
          this.errorMsg = this.getErrorMsgFromResponse(error)

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      }
    },

    async rejectRequest () {
      if (!this.rejectReason) {
        this.rejectReasonInvalid = true
      } else {
        try {
          this.rejectReasonInvalid = false
          this.rejectLoading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const data = { ...this.props.row }

          data.status = 'rejected'
          data.reject_reason = this.rejectReason

          await this.$axios.put(`${apiUrl}/transfer-requests/${this.props.row.id}`, data)

          this.rejectLoading = false
          this.showRejectDialog = false

          this.$emit('request-rejected', this.props.row.id)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('request-rejected'),
            position: 'top',
            timeout: 5000
          })
        } catch (error) {
          this.rejectLoading = false
          this.error = true
          this.errorMsg = this.getErrorMsgFromResponse(error)

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      }
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  }
}
</script>
