<template>
  <q-tr :props="props">
    <q-td key="name" :props="props">
      {{ props.row.name }}
    </q-td>

    <q-td key="email" :props="props">
      {{ props.row.email }}
    </q-td>

    <q-td key="role" :props="props">
      {{ props.row.role }}
    </q-td>

    <q-td key="action" :props="props">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          :to="{ name: 'EditUser', params: { id: props.row.id } }"
          flat
          round
          color="warning"
          icon="create"
        />

        <q-btn
          @click="showDeleteDialog = true"
          flat
          round
          color="negative"
          icon="remove_circle"
        />

        <q-dialog v-model="showDeleteDialog">
          <q-card>
            <q-card-section class="bg-negative text-white">
              {{ $t('delete-user') }}
            </q-card-section>

            <q-card-section>
              {{ $t('really-delete-user', { name: props.row.name }) }}
            </q-card-section>

            <q-card-actions align="right">
              <q-btn :loading="loading" @click="deleteUser" color="negative">
                {{ $t('yes') }}

                <template v-slot:loading>
                  <q-spinner-hourglass />
                </template>
              </q-btn>

              <q-btn flat :label="$t('cancel')" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-td>
  </q-tr>
</template>

<script>
export default {
  name: 'UserTableRow',

  props: ['props'],

  data () {
    return {
      showDeleteDialog: false,
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    async deleteUser () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        await this.$axios.delete(`${apiUrl}/users/${this.props.row.id}`, { headers })

        this.loading = false
        this.showDeleteDialog = false

        this.$emit('user-deleted', this.props.row.id)

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('user-deleted'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  }
}
</script>
