<template>
  <q-page class="flex flex-center">
    <q-card class="login">
      <q-card-section>
        <h4 class="text-center q-mb-none">
          {{ $t('login') }}
        </h4>
      </q-card-section>

      <q-card-section>
        <q-form
          ref="form"
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            v-model="email"
            :label="$t('email')"
            lazy-rules
            :rules="[
              rules.required,
              rules.isValidEmail
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>

          <q-input
            type="password"
            v-model="password"
            :label="$t('password')"
            lazy-rules
            :rules="[rules.required]"
          >
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
          </q-input>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('login') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" color="primary" flat class="q-ml-sm" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'Login',

  data () {
    return {
      email: null,
      password: null,
      rules: {
        required: val => val && val.length > 0 || this.$t('required-field'),
        isValidEmail: val => this.isValidEmail(val)
      },
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const data = {
          'email': this.email,
          'password': this.password
        }

        const response = await this.$axios.post(`${apiUrl}/login`, data)

        this.loading = false

        const { token, user } = response.data

        // Save user and token to localStorage
        localStorage.setItem('baem-user', JSON.stringify(user))
        localStorage.setItem('baem-token', token)

        // Commit loggedIn status and user to store
        this.$store.commit('auth/setUser', user)
        this.$store.commit('auth/setLoggedIn', true)

        // Redirect user
        const redirectUrl = this.$route.query.redirect || '/'

        this.$router.push({ path: redirectUrl })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('login-successful'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.email = '',
      this.password = ''
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  min-width: 300px;
}
</style>
