<template>
  <q-page class="flex flex-center q-pa-lg">
    <q-card class="update-password">
      <q-card-section>
        <h4 class="text-center q-mb-none">
          {{ $t('update-password') }}
        </h4>
      </q-card-section>

      <q-card-section>
        <q-form
          ref="form"
          @submit="onSubmit"
          class="q-gutter-md"
        >
          <q-input
            v-model="oldPassword"
            name="old_password"
            :label="$t('current-password')"
            :type="showOldPassword ? 'text' : 'password'"
            lazy-rules
            :rules="[rules.required]"
          >
            <template v-slot:append>
              <q-icon
                class="cursor-pointer"
                :name="showOldPassword ? 'visibility_off' : 'visibility'"
                @click="showOldPassword = !showOldPassword"
              />
            </template>
          </q-input>

          <q-input
            v-model="newPassword"
            name="new_password"
            :label="$t('new-password')"
            :type="showNewPassword ? 'text' : 'password'"
            lazy-rules
            :rules="[rules.required, rules.oldAndNewPasswordsDiffer]"
          >
            <template v-slot:append>
              <q-icon
                class="cursor-pointer"
                :name="showNewPassword ? 'visibility_off' : 'visibility'"
                @click="showNewPassword = !showNewPassword"
              />
            </template>
          </q-input>

          <transition
            appear
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
          >
            <q-input
              v-if="newPassword"
              v-model="confirmPassword"
              name="confirm_password"
              :label="$t('confirm-password')"
              :type="showConfirmPassword ? 'text' : 'password'"
              lazy-rules
              :rules="[rules.required, rules.passwordsMatch]"
            >
              <template v-slot:append>
                <q-icon
                  class="cursor-pointer"
                  :name="showConfirmPassword ? 'visibility_off' : 'visibility'"
                  @click="showConfirmPassword = !showConfirmPassword"
                />
              </template>
            </q-input>
          </transition>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('update') }}

              <template v-slot:loading>
                <q-spinner-gears />
              </template>
            </q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'UpdatePassword',

  data() {
    return {
      loading: false,
      removeLoading: false,
      error: false,
      errorMsg: '',
      rules: {
        required: val => val && val.length > 0 || this.$t('required-field'),
        oldAndNewPasswordsDiffer: val => this.oldAndNewPasswordsDiffer(val),
        passwordsMatch: val => this.passwordsMatch(val)
      },
      oldPassword: '',
      newPassword: '',
      confirmPassword: '',
      showOldPassword: false,
      showNewPassword: false,
      showConfirmPassword: false
    }
  },

  methods: {
    oldAndNewPasswordsDiffer(val) {
      return val !== this.oldPassword || this.$t('old-new-passwords-match')
    },

    passwordsMatch(val) {
      return val === this.newPassword || this.$t('passwords-dont-match')
    },

    async onSubmit () {
      try {
        if (this.$refs.form.validate()) {
          this.loading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const data = {
            old_password: this.oldPassword,
            new_password: this.newPassword
          }

          const headers = {
            Authorization: `Bearer ${localStorage.getItem('baem-token')}`
          }

          await this.$axios.post(`${apiUrl}/update-password`, data, { headers })

          this.loading = false

          this.$q.notify({
            color: 'positive',
            icon: 'check',
            message: this.$t('password-updated'),
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  }
}
</script>
