<template>
  <q-page class="flex flex-center">
    <img
      alt="MbamTransfer logo"
      src="~assets/logo-white-bg.jpg"
    >
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>

<style lang="scss" scoped>
img {
  height: auto;
  width: 300px;
}
</style>
