<template>
  <div class="transfer-requests">
    <q-page class="q-pa-md">
      <q-btn
        class="q-my-lg"
        color="primary"
        @click="download"
        :loading="exportLoading"
      >
        {{ $t('download-csv') }}

        <template v-slot:loading>
          <q-spinner-hourglass />
        </template>
      </q-btn>

      <q-table
        :title="$tc('transfer-requests', 2)"
        :data="mRequests"
        :columns="columns"
        row-key="name"
        :loading="loading"
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <template v-slot:body="props">
          <request-table-row
            :props="props"
            @request-verified="onRequestVerified"
            @request-processed="onRequestProcessed"
            @request-rejected="onRequestRejected"
          />
        </template>
      </q-table>
    </q-page>
  </div>
</template>

<script>
import RequestTableRow from 'components/TransferRequests/TableRow'

export default {
  name: 'TransferRequests',

  components: { RequestTableRow },

  data () {
    return {
      loading: false,
      exportLoading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mRequests () {
      return this.$store.state.requests.requests
    },

    columns () {
      return [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'status', align: 'left', label: this.$t('status'), field: 'status', sortable: true },
        { name: 'sender_name', align: 'left', label: this.$t('sender-name'), field: 'sender_name', sortable: true },
        { name: 'sender_email', align: 'left', label: this.$t('sender-email'), field: 'sender_email', sortable: true },
        { name: 'recipient_name', align: 'left', label: this.$t('recipient-full-name'), field: 'recipient_name', sortable: true },
        { name: 'recipient_phone', align: 'center', label: this.$t('recipient-om-momo-number'), field: 'recipient_phone', sortable: true },
        { name: 'original_amount', align: 'center', label: this.$t('original-amount'), field: 'original_amount', sortable: true },
        { name: 'converted_amount', align: 'center', label: this.$t('converted-amount'), field: 'converted_amount', sortable: true },
        { name: 'converted_amount_with_commission', align: 'center', label: this.$t('converted-amount-with-commission'), field: 'converted_amount_with_commission', sortable: true },
        { name: 'payment_proof', align: 'center', label: this.$t('proof-of-payment'), field: 'payment_proof', sortable: true },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getRequests () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        const response = await this.$axios.get(`${apiUrl}/transfer-requests`, { headers })

        this.loading = false

        const requests = response.data

        // Commit requests to store
        this.$store.commit('requests/setRequests', requests)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async download () {
      try {
        this.exportLoading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        const response = await this.$axios.get(`${apiUrl}/transfer-requests/export/csv`, { headers })

        this.exportLoading = false

        const blob = new Blob([response.data], { type: 'data:text/csv;charset=utf-8,' })

        const link = document.createElement('a')

        link.href = URL.createObjectURL(blob)
        link.download = 'transfer_requests_' + new Date() + '.csv'
        link.click()

        URL.revokeObjectURL(link.href)
      } catch (error) {
        this.exportLoading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onRequestVerified (id) {
      let requests = [...this.mRequests]

      requests = requests.map(r => {
        if (r.id === id) {
          r.status = 'verified'
        }

        return r
      })

      this.$store.commit('requests/setRequests', requests)
    },

    onRequestProcessed (id) {
      let requests = [...this.mRequests]

      requests = requests.map(r => {
        if (r.id === id) {
          r.status = 'processed'
        }

        return r
      })

      this.$store.commit('requests/setRequests', requests)
    },

    onRequestRejected (id) {
      let requests = [...this.mRequests]

      requests = requests.map(r => {
        if (r.id === id) {
          r.status = 'rejected'
        }

        return r
      })

      this.$store.commit('requests/setRequests', requests)
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  },

  mounted () {
    this.getRequests()
  }
}
</script>
