<template>
  <div class="transfer-request">
    <q-page class="q-pa-md">
      <q-card bordered>
        <q-card-section>
          <div class="text-h6">
            {{ $tc('transfer-requests', 1) }}
          </div>
        </q-card-section>

        <q-separator inset />

        <q-card-section>
          <q-list separator>
            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('status') }}</q-item-label>

                <q-item-label>
                  <q-badge
                    :color="statusColor"
                    :label="$t(mRequest.status)"
                  />
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('sender-name') }}</q-item-label>

                <q-item-label>{{ mRequest.sender_name }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('sender-email') }}</q-item-label>

                <q-item-label>{{ mRequest.sender_email }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('recipient-full-name') }}</q-item-label>

                <q-item-label>{{ mRequest.recipient_name }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('recipient-om-momo-number') }}</q-item-label>

                <q-item-label>{{ mRequest.recipient_phone }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('original-amount') }}</q-item-label>

                <q-item-label>{{ originalAmount }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('converted-amount') }}</q-item-label>

                <q-item-label>{{ convertedAmount }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('converted-amount-with-commission') }}</q-item-label>

                <q-item-label>{{ convertedAmountWithCommission }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('proof-of-payment') }}</q-item-label>
              </q-item-section>

              <q-item-section thumbnail>
                <img :src="paymentProofUrl" />
              </q-item-section>
            </q-item>

            <q-item v-if="isVerified">
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('verification-details') }}</q-item-label>

                <q-item-label>{{ mRequest.verification_details }}</q-item-label>
              </q-item-section>

              <q-item-section thumbnail v-if="mRequest.verification_proof">
                <img :src="verificationProofUrl" />
              </q-item-section>
            </q-item>

            <q-item v-else-if="isProcessed">
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('process-details') }}</q-item-label>

                <q-item-label>{{ mRequest.process_details }}</q-item-label>
              </q-item-section>

              <q-item-section thumbnail v-if="mRequest.process_proof">
                <img :src="processProofUrl" />
              </q-item-section>
            </q-item>

            <q-item v-else-if="isRejected">
              <q-item-section>
                <q-item-label overline class="text-primary">{{ $t('reject-reason') }}</q-item-label>

                <q-item-label>{{ mRequest.reject_reason }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            v-if="isVerifier && !isVerified"
            @click="showVerifyDialog = true"
            color="positive"
            :label="$t('verify')"
          />

          <q-btn
            v-if="isProcessor && isVerified && !isProcessed"
            @click="showProcessDialog = true"
            color="positive"
            :label="$t('process')"
          />

          <q-btn
            v-if="!isRejected"
            @click="showRejectDialog = true"
            color="negative"
            :label="$t('reject')"
          />

          <q-dialog v-model="showVerifyDialog">
            <q-card>
              <q-card-section class="bg-positive text-white">
                {{ $t('verify-request') }}
              </q-card-section>

              <q-card-section>
                {{ $t('really-verify-request') }}

                <q-input
                  class="q-mt-md"
                  v-model="verificationDetails"
                  filled
                  type="textarea"
                  :label="$t('verification-details')"
                  name="verification_details"
                  :error-message="$t('required-field')"
                  :error="verificationProofInvalid"
                />

                <q-file
                  filled
                  v-model="verificationProof"
                  :label="`${$t('provide-proof')} *`"
                  accept=".jpg, image/*"
                  name="verification_proof"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </q-card-section>

              <q-card-actions align="right">
                <q-btn :loading="loading" @click="verifyRequest" color="positive">
                  {{ $t('yes') }}

                  <template v-slot:loading>
                    <q-spinner-hourglass />
                  </template>
                </q-btn>

                <q-btn flat :label="$t('cancel')" v-close-popup />
              </q-card-actions>
            </q-card>
          </q-dialog>

          <q-dialog v-model="showProcessDialog">
            <q-card>
              <q-card-section class="bg-positive text-white">
                {{ $t('process-request') }}
              </q-card-section>

              <q-card-section>
                {{ $t('really-process-request') }}

                <q-input
                  class="q-mt-md"
                  v-model="processDetails"
                  filled
                  type="textarea"
                  :label="$t('process-details')"
                  name="process_details"
                  :error-message="$t('required-field')"
                  :error="processProofInvalid"
                />

                <q-file
                  filled
                  v-model="processProof"
                  :label="`${$t('provide-proof')} *`"
                  accept=".jpg, image/*"
                  name="process_proof"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </q-card-section>

              <q-card-actions align="right">
                <q-btn :loading="loading" @click="processRequest" color="positive">
                  {{ $t('yes') }}

                  <template v-slot:loading>
                    <q-spinner-hourglass />
                  </template>
                </q-btn>

                <q-btn flat :label="$t('cancel')" v-close-popup />
              </q-card-actions>
            </q-card>
          </q-dialog>

          <q-dialog v-model="showRejectDialog">
            <q-card>
              <q-card-section class="bg-negative text-white">
                {{ $t('reject-request') }}
              </q-card-section>

              <q-card-section>
                {{ $t('really-reject-request') }}

                <q-input
                  class="q-mt-md"
                  v-model="rejectReason"
                  filled
                  type="textarea"
                  :label="$t('provide-reason')"
                  name="reject_reason"
                  :error-message="$t('required-field')"
                  :error="rejectReasonInvalid"
                />
              </q-card-section>

              <q-card-actions align="right">
                <q-btn :loading="rejectLoading" @click="rejectRequest" color="negative">
                  {{ $t('yes') }}

                  <template v-slot:loading>
                    <q-spinner-hourglass />
                  </template>
                </q-btn>

                <q-btn flat :label="$t('cancel')" v-close-popup />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </q-card-actions>
      </q-card>
    </q-page>
  </div>
</template>

<script>
export default {
  name: 'TransferRequest',

  data () {
    return {
      requestId: this.$route.params.id,
      loading: false,
      error: false,
      errorMsg: '',
      verificationDetails: '',
      verificationProof: null,
      verificationProofInvalid: false,
      processDetails: '',
      processProof: null,
      processProofInvalid: false,
      rejectLoading: false,
      rejectReason: '',
      rejectReasonInvalid: false,
      showVerifyDialog: false,
      showProcessDialog: false,
      showRejectDialog: false
    }
  },

  computed: {
    authUser () {
      return this.$store.state.auth.user
    },

    mRequest () {
      return this.$store.state.requests.request
    },

    statusColor () {
      let color

      switch(this.mRequest.status) {
        case 'verified':
          color = 'primary'

          break

        case 'processed':
          color = 'positive'

          break

        case 'rejected':
          color = 'negative'

          break

        default:
          color = 'warning'

          break
      }

      return color
    },

    originalAmount () {
      const formatter = new Intl.NumberFormat('en-us', {
        style: 'currency',
        currency: this.mRequest.original_currency || 'USD'
      })

      return formatter.format(this.mRequest.original_amount)
    },

    convertedAmount () {
      const formatter = new Intl.NumberFormat('en-us', {
        style: 'currency',
        currency: 'XAF'
      })

      return formatter.format(this.mRequest.converted_amount)
    },

    convertedAmountWithCommission () {
      const formatter = new Intl.NumberFormat('en-us', {
        style: 'currency',
        currency: 'XAF'
      })

      return formatter.format(this.mRequest.converted_amount_with_commission)
    },

    paymentProofUrl () {
      const backUrl = process.env.BACK_URL

      return `${backUrl}/public/storage/${this.mRequest.payment_proof}`
    },

    verificationProofUrl () {
      const backUrl = process.env.BACK_URL

      return `${backUrl}/public/storage/${this.mRequest.verification_proof}`
    },

    processProofUrl () {
      const backUrl = process.env.BACK_URL

      return `${backUrl}/public/storage/${this.mRequest.process_proof}`
    },

    isVerified () {
      return this.mRequest.status === 'verified'
    },

    isProcessed () {
      return this.mRequest.status === 'processed'
    },

    isRejected () {
      return this.mRequest.status === 'rejected'
    },

    isVerifier () {
      return this.authUser.role === 'verifier'
    },

    isProcessor () {
      return this.authUser.role === 'processor'
    }
  },

  methods: {
    async getRequest () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        const response = await this.$axios.get(`${apiUrl}/transfer-requests/${this.requestId}`, { headers })

        this.loading = false

        const request = response.data

        // Commit request to store
        this.$store.commit('requests/setRequest', request)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async verifyRequest () {
      if (!this.verificationDetails) {
        this.verificationProofInvalid = true
      } else {
        try {
          this.verificationProofInvalid = false
          this.loading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const headers = {
            Authorization: `Bearer ${localStorage.getItem('baem-token')}`
          }

          const data = { ...this.mRequest }

          data.status = 'verified'
          data.verification_details = this.verificationDetails

          const formData = new FormData()

          formData.append('converted_amount', data.converted_amount)
          formData.append('converted_amount_with_commission', data.converted_amount_with_commission)
          formData.append('original_amount', data.original_amount)
          formData.append('original_currency', data.original_currency)
          formData.append('payment_proof', data.payment_proof)
          formData.append('recipient_name', data.recipient_name)
          formData.append('recipient_phone', data.recipient_phone)
          formData.append('sender_email', data.sender_email)
          formData.append('sender_name', data.sender_name)
          formData.append('status', data.status)
          formData.append('verification_details', data.verification_details)
          formData.append('verification_proof', this.verificationProof)

          await this.$axios.post(`${apiUrl}/transfer-requests/${this.mRequest.id}`, formData, { headers })

          this.loading = false
          this.showVerifyDialog = false

          // Commit updated request to store
          this.$store.commit('requests/setRequest', data)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('request-verified'),
            position: 'top',
            timeout: 5000
          })
        } catch (error) {
          this.loading = false
          this.error = true
          this.errorMsg = this.getErrorMsgFromResponse(error)

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      }
    },

    async processRequest () {
      if (!this.processDetails) {
        this.processProofInvalid = true
      } else {
        try {
          this.processProofInvalid = false
          this.loading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const data = { ...this.mRequest }

          data.status = 'processed'
          data.process_details = this.processDetails

          const formData = new FormData()

          formData.append('converted_amount', data.converted_amount)
          formData.append('converted_amount_with_commission', data.converted_amount_with_commission)
          formData.append('original_amount', data.original_amount)
          formData.append('original_currency', data.original_currency)
          formData.append('payment_proof', data.payment_proof)
          formData.append('recipient_name', data.recipient_name)
          formData.append('recipient_phone', data.recipient_phone)
          formData.append('sender_email', data.sender_email)
          formData.append('sender_name', data.sender_name)
          formData.append('status', data.status)
          formData.append('process_details', data.process_details)
          formData.append('process_proof', this.processProof)

          await this.$axios.post(`${apiUrl}/transfer-requests/${this.mRequest.id}`, formData)

          this.loading = false
          this.showProcessDialog = false

          // Commit updated request to store
          this.$store.commit('requests/setRequest', data)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('request-processed'),
            position: 'top',
            timeout: 5000
          })
        } catch (error) {
          this.loading = false
          this.error = true
          this.errorMsg = this.getErrorMsgFromResponse(error)

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      }
    },

    async rejectRequest () {
      if (!this.rejectReason) {
        this.rejectReasonInvalid = true
      } else {
        try {
          this.rejectReasonInvalid = false
          this.rejectLoading = true
          this.error = false

          const apiUrl = process.env.API_URL

          const data = { ...this.mRequest }

          data.status = 'rejected'
          data.reject_reason = this.rejectReason

          await this.$axios.put(`${apiUrl}/transfer-requests/${this.mRequest.id}`, data)

          this.rejectLoading = false
          this.showRejectDialog = false

          // Commit updated request to store
          this.$store.commit('requests/setRequest', data)

          this.$q.notify({
            color: 'positive',
            icon: 'thumb_up',
            message: this.$t('request-rejected'),
            position: 'top',
            timeout: 5000
          })
        } catch (error) {
          this.rejectLoading = false
          this.error = true
          this.errorMsg = this.getErrorMsgFromResponse(error)

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      }
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  },

  mounted () {
    this.getRequest()
  }
}
</script>
