<template>
  <q-item
    clickable
    tag="a"
    :to="{ name: route }"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ mTitle }}</q-item-label>
      <q-item-label caption>
        {{ $t(caption) }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',

  props: {
    title: {
      type: String,
      required: true
    },

    titleCanBePlural: {
      type: Boolean,
      required: true
    },

    titleIsPlural: {
      type: Boolean,
      required: false
    },

    caption: {
      type: String,
      default: ''
    },

    route: {
      type: String,
      default: 'Dashboard'
    },

    icon: {
      type: String,
      default: ''
    }
  },

  computed: {
    mTitle() {
      let title = this.$t(this.title)

      if (this.titleCanBePlural) {
        title = this.titleIsPlural ? this.$tc(this.title, 2) : this.$tc(this.title, 1)
      }

      return title
    }
  }
}
</script>
