<template>
  <q-layout view="hhh Lpr fFf" class="bg-secondary">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'AuthLayout'
}
</script>
