<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-white">
        <q-btn
          flat
          color="primary"
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-avatar square>
          <img src="~assets/logo.png">
        </q-avatar>

        <q-toolbar-title>
          <!-- {{ appName }} -->
        </q-toolbar-title>

        <q-select
          class="q-px-md"
          v-model="lang"
          :options="langOptions"
          :label="locale"
          dense
          borderless
          emit-value
          map-options
          options-dense
        />

        <q-btn
          color="primary"
          :loading="loading"
          @click="logout"
          flat
          round
          icon="exit_to_app"
        >
          <q-tooltip>
            {{ $t('logout') }}
          </q-tooltip>

          <template v-slot:loading>
            <q-spinner-hourglass />
          </template>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          {{ $t('menu') }}
        </q-item-label>

        <essential-link
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <router-view />
      </transition>
    </q-page-container>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      {{ appName }} &copy; {{ year }} | {{ $t('all-rights-reserved') }}
    </q-footer>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

export default {
  name: 'MainLayout',

  components: { EssentialLink },

  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'dashboard',
          titleCanBePlural: false,
          caption: 'get-app-insights',
          icon: 'dashboard',
          route: 'Dashboard'
        },
        {
          title: 'transfer-requests',
          titleCanBePlural: true,
          titleIsPlural: true,
          caption: 'manage-transfer-requests',
          icon: 'monetization_on',
          route: 'TransferRequests'
        },
        {
          title: 'users',
          titleCanBePlural: true,
          titleIsPlural: true,
          caption: 'manage-app-admins',
          icon: 'people',
          route: 'Users'
        },
        {
          title: 'update-password',
          titleCanBePlural: false,
          caption: 'change-password',
          icon: 'vpn_key',
          route: 'UpdatePassword'
        }
      ],
      appName: process.env.APP_NAME,
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en-us', label: 'English' },
        { value: 'fr-fr', label: 'Français' }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    locale() {
      return this.$i18n.locale.toUpperCase()
    },

    year() {
      return new Date().getFullYear()
    }
  },

  methods: {
    async logout () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        await this.$axios.post(`${apiUrl}/logout`, {}, { headers })

        // Remove user and token from localStorage
        localStorage.removeItem('baem-user')
        localStorage.removeItem('baem-token')

        // Commit loggedIn status and user to store
        this.$store.commit('auth/setUser', {})
        this.$store.commit('auth/setLoggedIn', false)

        // Redirect user to login page
        this.$router.push({ name: 'Login' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('logout-successful'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  },

  mounted () {
    // Check if user exists in localStorage
    const stringifiedUser = localStorage.getItem('baem-user')

    if (stringifiedUser) {
      const user = JSON.parse(stringifiedUser)

      // Commit user to store
      this.$store.commit('auth/setUser', user)
    }
  }
}
</script>

<style lang="scss" scoped>
.q-toolbar {
  height: 60px;

  .q-avatar {
    height: auto;
    width: 240px;
  }
}

.q-page-container {
  background-image: url('../assets/bg-cowry.webp');
  background-repeat: repeat;
}
</style>
