<template>
  <div class="edit-user">
    <q-page class="q-pa-md">
      <q-card class="q-pa-md">
        <div class="text-h6">
          {{ $t('edit-user') }}
        </div>

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md q-mt-md"
        >
          <q-input
            filled
            v-model="form.firstName"
            :label="$t('first-name')"
            name="first_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.middleName"
            :label="$t('middle-name')"
            name="middle_name"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.lastName"
            :label="`${$t('last-name')} *`"
            name="last_name"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              val => val && val.length > 3 || $t('min-3-chars')
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="account_box" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="form.email"
            :label="`${$t('email')} *`"
            name="email"
            type="email"
            lazy-rules
            :rules="[
              val => val && val.length > 0 || $t('required-field'),
              isValidEmail
            ]"
          >
            <template v-slot:prepend>
              <q-icon name="alternate_email" />
            </template>
          </q-input>

          <q-select
            filled
            v-model="form.role"
            :options="roles"
            :label="$tc('roles', 1)"
            emit-value
            map-options
          >
            <template v-slot:prepend>
              <q-icon name="verified_user" />
            </template>
          </q-select>

          <div>
            <q-btn :loading="loading" type="submit" color="primary">
              {{ $t('submit') }}

              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn :label="$t('reset')" type="reset" flat color="primary" class="q-ml-sm" />
          </div>
        </q-form>
      </q-card>
    </q-page>
  </div>
</template>

<script>
export default {
  name: 'EditUser',

  data () {
    return {
      userId: this.$route.params.id,
      form: {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        role: ''
      },
      roles: [
        { label: this.$t('verifier'), value: 'verifier' },
        { label: this.$t('processor'), value: 'processor' }
      ],
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mUser () {
      return this.$store.state.users.user
    }
  },

  methods: {
    async getUser () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        const response = await this.$axios.get(`${apiUrl}/users/${this.userId}`, { headers })

        this.loading = false

        const user = response.data

        // Commit user to store
        this.$store.commit('users/setUser', user)

        // Set form values
        this.form = {
          firstName: user.first_name,
          middleName: user.middle_name,
          lastName: user.last_name,
          email: user.email,
          role: user.role
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    async onSubmit () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const data = {
          'first_name': this.form.firstName,
          'middle_name': this.form.middleName,
          'last_name': this.form.lastName,
          'email': this.form.email,
          'role': this.form.role
        }

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        await this.$axios.put(`${apiUrl}/users/${this.userId}`, data, { headers })

        // Redirect to users page
        this.$router.push({ name: 'Users' })

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('user-edited'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        firstName: '',
        middleName: '',
        lastName: '',
        email: '',
        role: ''
      }
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  },

  mounted () {
    this.getUser()
  }
}
</script>

<style lang="scss" scoped>
.q-page {
  margin: auto;
  width: 50%;
}
</style>
