<template>
  <div class="users">
    <q-page class="q-pa-md">
      <q-table
        :title="$tc('users', 2)"
        :data="formattedUsers"
        :columns="columns"
        row-key="name"
        :loading="loading"
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>

        <template v-slot:body="props">
          <user-table-row :props="props" @user-deleted="onUserDelete" />
        </template>
      </q-table>

      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn :to="{ name: 'CreateUser' }" fab icon="add" color="primary" />
      </q-page-sticky>
    </q-page>
  </div>
</template>

<script>
import UserTableRow from 'components/Users/TableRow'

export default {
  name: 'Users',

  components: { UserTableRow },

  data () {
    return {
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  computed: {
    mUsers () {
      return this.$store.state.users.users
    },

    formattedUsers () {
      return this.mUsers.map(u => ({
        id: u.id,
        name: `${u.first_name || ''} ${u.middle_name || ''} ${u.last_name}`,
        email: u.email,
        role: this.$t(u.role),
        action: ''
      }))
    },

    columns () {
      return [
        {
          name: 'name',
          required: true,
          label: this.$t('name'),
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        { name: 'email', align: 'left', label: this.$t('email'), field: 'email', sortable: true },
        { name: 'role', align: 'left', label: this.$tc('roles', 1), field: 'role', sortable: true },
        { name: 'action', align: 'center', label: this.$tc('actions', 1), field: 'action' }
      ]
    }
  },

  methods: {
    async getUsers () {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const headers = {
          Authorization: `Bearer ${localStorage.getItem('baem-token')}`
        }

        const response = await this.$axios.get(`${apiUrl}/users`, { headers })

        this.loading = false

        const users = response.data

        // Commit users to store
        this.$store.commit('users/setUsers', users)
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onUserDelete (id) {
      const users = this.mUsers.filter(u => u.id !== id)

      this.$store.commit('users/setUsers', users)
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  },

  mounted () {
    this.getUsers()
  }
}
</script>
